
/*!
Theme Name: Weysms Sistema de sms gratis
Theme URI: http://itsoft.org.ve/
Author: ItSoft
Author URI: https://www.facebook.com/icrasover.21
Description: Carlos Guilarte
Version: 1.0
License: GNU General public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: black, brown, orange, tan, white, yellow, light, one-column, two-columns, right-sidebar, flexible-width, custom-header, custom-menu, editor-style, featured-images, microformats, post-formats, rtl-language-support, sticky-post, translation-ready
Text Domain: OFD
*/
/*@font-face{font-family:'BebasNeue Bold';font-style:normal;font-weight:400;src:local('assets/fonts/Bebas/BebasNeueBold.otf'),local('assets/fonts/Bebas/BebasNeueBold.otf'),url('assets/fonts/Bebas/BebasNeueBold.otf') format('opentype');}
@font-face{font-family:'BebasNeue Book';font-style:normal;font-weight:400;src:local('assets/fonts/Bebas/BebasNeueBook.otf'),local('assets/fonts/Bebas/BebasNeueBook.otf'),url('assets/fonts/Bebas/BebasNeueBook.otf') format('opentype');}
@font-face{font-family:'BebasNeue Light';font-style:normal;font-weight:300;src:local('assets/fonts/Bebas/BebasNeueLight.otf'),local('assets/fonts/Bebas/BebasNeueLight.otf'),url('assets/fonts/Bebas/BebasNeueLight.otf') format('opentype');}
@font-face{font-family:'BebasNeue Regular';font-style:normal;font-weight:400;src:local('assets/fonts/Bebas/BebasNeueRegular.otf'),local('assets/fonts/Bebas/BebasNeueRegular.otf'),url('assets/fonts/Bebas/BebasNeueRegular.otf') format('opentype');}
*/

/*@font-face{font-family:'DINOT-Black';font-style:normal;font-weight:400;src:local('assets/fonts/Dino/DINOT-Black.otf'),local('assets/fonts/Dino/DINOT-Black.otf'),url('assets/fonts/Dino/DINOT-Black.otf') format('opentype');}*/
@font-face{font-family:'DINOT-Bold';font-style:normal;font-weight:100;src:local('assets/fonts/Dino/DINOT-Bold.otf'),local('assets/fonts/Dino/DINOT-Bold.otf'), url('assets/fonts/Dino/DINOT-Bold.otf') format('opentype');}
@font-face{font-family:'DINOT-Light';font-style:normal;font-weight:100;src:local('assets/fonts/Dino/DINOT-Light.otf'),local('assets/fonts/Dino/DINOT-Light.otf'), url('assets/fonts/Dino/DINOT-Light.otf') format('opentype');}
/*@font-face{font-family:'DINOT-Medium';font-style:normal;font-weight:100;src:local('assets/fonts/Dino/DINOT-Medium.otf'),local('assets/fonts/Dino/DINOT-Medium.otf'), url('assets/fonts/Dino/DINOT-Medium.otf') format('opentype');}*/
@font-face{font-family:'DINOT-Regular';font-style:normal;font-weight:100;src:local('assets/fonts/Dino/DINOT-Regular.otf'),local('assets/fonts/Dino/DINOT-Regular.otf'), url('assets/fonts/Dino/DINOT-Regular.otf') format('opentype');}


@font-face{font-family:'Galindo-Regular';src:local('assets/fonts/Galindo-Regular.ttf'),local('assets/fonts/Galindo-Regular.ttf'),url('assets/fonts/Galindo-Regular.ttf') format('opentype');}
@font-face{font-family:'Roboto-Regular';src:local('assets/fonts/Roboto/Roboto-Regular.ttf'),local('assets/fonts/Roboto/Roboto-Regular.ttf'),url('assets/fonts/Roboto/Roboto-Regular.ttf') format('opentype');}


body{
	overflow-x:hidden !important;
	text-rendering: optimizeLegibility;
}

.device{
	max-width:1024px;
	margin: auto;
	overflow: hidden;
}


.header{
    background: url(assets/img/bg_2.png);
    background-repeat: no-repeat;
    background-size: 100%;
		overflow: hidden;
		display: block;
}


.header-content{
	margin-top: 35px;
}

.side-nav {
    position: fixed;
    top: 45%;
    right: 20px;
    z-index: 1030;
}
.side-nav ul.nav-side-nav {
    text-align: center;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.side-nav ul.nav-side-nav > li {
    display: block;
    line-height: 1.42857;
    margin: 0;
    padding: 8px 0;
}

.side-nav ul.nav-side-nav > li > a {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #e2e2e2;
}

.movil,.movil-two{
	height:570px;
	background: url(assets/img/3.png);
	background-repeat: no-repeat;
	background-size: 100%;
	overflow: hidden;
	display: block;
}
.movil-two{
		margin-top: 10px;
		background: url(assets/img/4.png);
		background-repeat: no-repeat;
		background-size: 100%;
}


.header_info{
	text-align: center;
	margin: auto;
	margin-top: 30px;
}

.header_info .app{
	color: #fff;
	font-family: 'DINOT-Bold';
	margin-top: -10px;
	font-size: 46px;
}

.header_info .title-a,.header_info .title-b,.header_info .title-c{
	font-size: 29px;
	color: #fff;
	font-family: 'DINOT-Regular';
	display: block;
}

.header_info .title-b{
	font-size: 20px;
	font-family: 'DINOT-Light';
	line-height: 30px;
}

.header_info .send-sms{
	margin-top: 50px;
	padding: 12px 60px 12px 60px;
	font-size: 20px;
	font-family: 'DINOT-Regular';
}


.g-recaptcha{
	position: absolute;
	right: 0%;
	bottom: 20%;
}

.m-auto{margin: auto;}

.w70{
	width: 70px;
}
.w-160{
		width:160px !important;
}
.w60{
	width: 60%;
}

.pt-20{
	padding-top:20px;
}
.mt-20{margin-top: 20px;}

.publicidad728x90{
	width: 728px;
	height: 90px;
	background: #fff;
	margin-top:8px;
}

.publicidad300x600{
	width: 300px;
	height: 600px;
	background: #333;
}

.publicidad300x250{
	width: 300px;
	height: 250px;
	background: #fff;
	margin:auto;
	margin-top: 30px;
}





#comentarios{
	height:auto;
}

.titulo{
	font-size: 2.2rem;
	font-family: 'DINOT-Regular';
}

#envio_sms{
	background: url(assets/img/mapa.svg),linear-gradient(117deg,#0069ff,#00cd8d);
	background-position: center;
	background-repeat: no-repeat;
}
.envio-info{
	margin-top: 15px;
	color:#fff;
	font-family: 'DINOT-Regular' !important;
}


.formulario-sms{
	margin-top: 20px;
	padding-bottom: 20px;
}

.mensaje-texto label{
	padding-top: 20px;
	font-size: 20px;
	letter-spacing: 1px;
	font-weight: 400;
	display: block;
}

.sms_paso_1,.sms_paso_3{
	text-align: center;
	margin:80px auto;
	font-family: 'Galindo-Regular';
}

.sms_paso_2 h2,.sms_paso_3 h2{
	font-size: 2.5rem;
}

.sms_paso_3{
	padding: 10px;
	margin: 50px auto;
	border-radius: 4px;
}
.sms_paso_3 h2,.sms_paso_3 span{
	color:#FFF;
}

.btn-outline-success-wix {
    color: #fff;
    background: #0F9D58;
    border-color: #0F9D58;
}

.login_facebook{
    margin: auto;
    margin-top: 30px;
    cursor: pointer;
}

.block{
	display: block;
	margin-top: 20px;
}



.error_datos_pais,.error_datos_numero,.error_datos_mensaje{
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	width: 43%;
	background: #000;
	padding: 8px;
	text-align: center;
	top: 53%;
	border: 1px solid #000;
	left: 32%;
	font-size: 15px;
	font-family: 'DINOT-Bold';
	border-radius: 5px;
	z-index: 501;
	filter: alpha(opacity=90); /* internet explorer */
	-khtml-opacity: .9;      /* khtml, version anterior de safari */
	-moz-opacity: .9;       /* firefox, mozilla, netscape */
	opacity: .9;           /* safari, chrome, opera */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)"; /*internet explorer 8 - gracias Andres */
	display: none;
}

.error_datos_pais{
	left: -53%;
	top: 10%;
}
.error_datos_numero{
	top: 10%;
	left: -7%;
}
.error_datos_mensaje{
	left: -53%;
}


.flechaAbajo {
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 10px;
	border-bottom-width: 0px;
	border-color: #000 transparent transparent transparent;
	position: absolute;
	bottom: -10px;
}

.border-error{
		border: 2px solid red !important;
}

.notificacion{
	padding-left: 25px;
	font-size: 1.5rem;
	color:#82E02A;
}

.checked-send,.error-send{
	margin: auto;
	width: 65px;
	height: 65px;
	background: url(assets/img/checked.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding-bottom: 20px;
}

.error-send{
	background: url(assets/img/error.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.cuadro-megusta{
	width: 50%;
	margin: 15px auto;
}

.send_sms{
	color:#fff;
	border: 2px solid #fff;
}

.send_sms:hover{
	background: none !important;
	border: 2px solid #fff;
}

.font-1-8{font-size: 1.8rem !important;}


.footer_sms{
	position: relative;
	height: auto;
	background-color:#313030;
	padding: 60px 0px 40px 0px;
	color: #c2c1c1;
	margin-top: 10px;
}

.info_footer{

	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	border:1px solid red;
	text-align: center;
	margin: auto;
	width: 50%;
	top: 50%;
	font-family: 'DINOT-Light';
}

.footer_sms h2{
	font-size: 21px;
}
.footer_sms p{
	font: 400 13px 'DINOT-Light';
}

.footer_sms .address{
	font-size: 13px;
}
.footer_sms .address span{
	line-height: 1.7;
	display: block;
}

.footer_sms .address a{
	color: #57c8eb;
}



@media screen and (max-width : 540px) {
	.device {
			max-width:480px;
	}

	.ocultar-movil{
			display: none;
	}

	.header{
			background-size: cover;
			background-position: 55%;
	}
	.w70{
			width: 55px;
	}

	.header_info .app {
			font-size: 30px;
	}

	.header_info .title-a{
			font-size: 18px;
	}

	.header_info .title-b {
			font-size: 15px;
			line-height: 20px;
	}
	.header_info .send-sms {
			padding: 5px 25px 5px 25px;
			font-size: 16px;
			margin: 25px auto;
	}

	.w60{
			width: 86%;
	}


	.sms_paso_1, .sms_paso_3 {
			text-align: center;
			margin: 55px auto;
			font-family: 'DINOT-Light';
	}

	.sms_paso_1 h2,.sms_paso_2 h2, .sms_paso_3 h2{
			font-size: 1.5rem;
			font-family: 'DINOT-Bold';
	}

	.sms_paso_1 span, .sms_paso_2 span{
			font-size: 0.9rem;
	}

	.sms_paso_2{
			text-align: center;
	}

	.custom-select{
			width: 100%;
	}

	#envio_sms {
			height: auto;
	}

	.error_datos_numero {
			top: 13%;
			left: -11%;
	}

	.error_datos_mensaje {
			left: -11%;
			top: 51%;
	}

	.error_datos_pais, .error_datos_numero, .error_datos_mensaje {
			width: 80%;
	}

	.sms_paso_3{
			background: none;
	}

	.sms_paso_3 h2, .sms_paso_3 span {
			color: #ffffff;
	}
	.sms_paso_3 h2{
			font-weight: bold;
	}
	.btn-outline-success{
			color:#fff;
	}
	.font-1-8{
			font-size: 1.3rem !important;
	}
}

/* smarphone iphone 6*/
@media screen and (max-width : 480px) {
	.device {
			max-width: 401px;
	}

	.ocultar-movil{
			display: none;
	}

	.header{
			background-size: cover;
			background-position: 55%;
	}
	.w70{
			width: 55px;
	}

	.header_info .app {
			font-size: 30px;
	}

	.header_info .title-a{
			font-size: 18px;
	}

	.header_info .title-b {
			font-size: 15px;
			line-height: 20px;
	}
	.header_info .send-sms {
			padding: 5px 25px 5px 25px;
			font-size: 16px;
			margin: 25px auto;
	}

	.w60{
			width: 86%;
	}

	.sms_paso_1, .sms_paso_3 {
			text-align: center;
			margin: 55px auto;
			font-family: 'DINOT-Light';
	}

	.sms_paso_1 h2,.sms_paso_2 h2, .sms_paso_3 h2{
			font-size: 1.5rem;
			font-family: 'DINOT-Bold';
	}

	.sms_paso_1 span, .sms_paso_2 span{
			font-size: 0.9rem;
	}

	.sms_paso_2{
			text-align: center;
	}

	.custom-select{
			width: 100%;
	}

	#envio_sms {
			height: auto;
	}

	.error_datos_numero {
			top: 13%;
			left: -11%;
	}

	.error_datos_mensaje {
			left: -11%;
			top: 51%;
	}

	.error_datos_pais, .error_datos_numero, .error_datos_mensaje {
			width: 80%;
	}

	.sms_paso_3{
			background: none;
	}

	.sms_paso_3 h2, .sms_paso_3 span {
			color: #ffffff;
	}
	.sms_paso_3 h2{
			font-weight: bold;
	}
	.btn-outline-success{
			color:#fff;
	}
	.font-1-8{
			font-size: 1.3rem !important;
	}
}

@media screen and (min-width : 351px) and (max-width : 400px) {
	.device {
			max-width: 351px;
	}

	.ocultar-movil{
			display: none;
	}

	.header{
			background-size: cover;
			background-position: 55%;
	}
	.w70{
			width: 55px;
	}

	.header_info .app {
			font-size: 30px;
	}

	.header_info .title-a{
			font-size: 18px;
	}

	.header_info .title-b {
			font-size: 15px;
			line-height: 20px;
	}
	.header_info .send-sms {
			padding: 5px 25px 5px 25px;
			font-size: 16px;
			margin: 25px auto;
	}

	.w60{
			width: 86%;
	}

	.sms_paso_1, .sms_paso_3 {
			text-align: center;
			margin: 55px auto;
			font-family: 'DINOT-Light';
	}

	.sms_paso_1 h2,.sms_paso_2 h2, .sms_paso_3 h2{
			font-size: 1.5rem;
			font-family: 'DINOT-Bold';
	}

	.sms_paso_1 span, .sms_paso_2 span{
			font-size: 0.9rem;
	}

	.sms_paso_2{
			text-align: center;
	}

	.custom-select{
			width: 100%;
	}

	#envio_sms {
			height: auto;
	}

	.error_datos_numero {
			top: 13%;
			left: -11%;
	}

	.error_datos_mensaje {
			left: -11%;
			top: 51%;
	}

	.error_datos_pais, .error_datos_numero, .error_datos_mensaje {
			width: 80%;
	}

	.sms_paso_3{
			background: none;
	}

	.sms_paso_3 h2, .sms_paso_3 span {
			color: #ffffff;
	}
	.sms_paso_3 h2{
			font-weight: bold;
	}
	.btn-outline-success{
			color:#fff;
	}
	.font-1-8{
			font-size: 1.3rem !important;
	}
}

/* smarphone iphone 6*/
@media screen and (min-width : 320px) and (max-width : 350px) {
		.device {
	    	max-width: 320px;
		}

		.ocultar-movil{
				display: none;
		}

		.header{
				background-size: cover;
	    	background-position: 55%;
		}
		.w70{
    		width: 55px;
		}

		.header_info .app {
    		font-size: 30px;
		}

		.header_info .title-a{
    		font-size: 18px;
		}

		.header_info .title-b {
    		font-size: 15px;
    		line-height: 20px;
		}
		.header_info .send-sms {
    		padding: 5px 25px 5px 25px;
    		font-size: 16px;
    		margin: 25px auto;
		}

		.w60{
	    	width: 86%;
		}

		.sms_paso_1, .sms_paso_3 {
    		text-align: center;
    		margin: 55px auto;
    		font-family: 'DINOT-Light';
		}

		.sms_paso_1 h2,.sms_paso_2 h2, .sms_paso_3 h2{
				font-size: 1.5rem;
		  	font-family: 'DINOT-Bold';
		}

		.sms_paso_1 span, .sms_paso_2 span{
				font-size: 0.9rem;
		}

		.sms_paso_2{
				text-align: center;
		}

		.custom-select{
				width: 100%;
		}

		#envio_sms {
		  	height: auto;
		}

		.error_datos_numero {
		    top: 13%;
		    left: -11%;
		}

		.error_datos_mensaje {
		    left: -11%;
		    top: 51%;
		}

		.error_datos_pais, .error_datos_numero, .error_datos_mensaje {
				width: 80%;
		}

		.sms_paso_3{
				background: none;
		}

		.sms_paso_3 h2, .sms_paso_3 span {
		    color: #ffffff;
		}
		.sms_paso_3 h2{
				font-weight: bold;
		}
		.btn-outline-success{
				color:#fff;
		}
		.font-1-8{
			  font-size: 1.3rem !important;
		}

}

#piframe{
	position: absolute;
	left: -99999999999px;
}
